[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
django-markdownx = "*"
djangorestframework = "*"
django-cors-headers = "*"
djangorestframework-jwt = "*"
django-filter = "*"
pre-commit = "*"
black = "*"

[dev-packages]

[requires]
python_version = "3.8"
