@import "../overrides.scss";

.Post {
  background-color: $gray-200;
  border-radius: 0.25em;

  img.img-inline {
    max-width: 25%;
  }

  img.img-full {
    width: 100%;
    box-sizing: border-box;
  }
}
